body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#submit{
    position: relative;
    left: 140px;
}
.createList{
    padding: 20px;
}
.options{
    padding: 20px;
}
.completed{
    background-color: #faebd7;
    text-decoration: line-through;
}
label {
    display: inline-block;
    width: 150px;
}
